<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="reflex_generator" name="ReflexGenerator" schema="schema/reflex_generator.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.iaie.ru/reflex/Reflex"
			class = "ru.iaie.reflex.reflex.ReflexPackage"
			genModel = "model/generated/Reflex.genmodel" />
	</extension>
</plugin>
